<div class="container">
  <div class="row">
    <div class="col">
      <h4>I'm a title in the AppComponent!</h4>
      <app-counters></app-counters>
      <hr>
      <!-- <app-exercise-directives></app-exercise-directives> -->
      <button class="btn btn-warning" (click)="displayClickDate()">Click me to see the time</button>
      <li *ngFor="let click of clicks; let i = index" [ngStyle]="{backgroundColor: i > 2 ? 'blue': 'transparent'}"
        [ngClass]="{'text-white': i > 2}">
        {{ click }}
      </li>
    </div>
  </div>
</div>
