<!-- ********************** uncomment when I'm done with the example of ngFor + index ************************ -->

<!-- <h4>exercise Directives</h4>
<button class="btn btn-warning" (click)="visiblePassw = !visiblePassw" (click)="incrementNumber()">Display
  details</button>
<p *ngIf="visiblePassw">Secret password: Madeira2020</p>
<ul> -->
  <!-- <li *ngFor="let click of clicks" [ngStyle]="{backgroundColor: getColor()}"> {{ click }} </li> -->
  <!-- <li *ngFor="let click of clicks" [ngStyle]="{backgroundColor: click > 4 ? 'blue' : 'transparent'}"
    [ngClass]="{white: click > 4}">{{ click }}
  </li>
</ul> -->
